<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 支持Spring注解 -->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
    <!-- 注册一个BeanPostProcessor -->
    <!--<bean id="postProcessor" class="com.test.spring.PostProcessor"/>-->
    <!-- 注册一个BeanFactoryPostProcessor -->
    <bean id="factoryPostProcessor" class="spring.think.ch09.BeanFactoryPostProcessorTest2">
        <property name="name" value="张三"/>
    </bean>
    <!-- 普通bean -->
    <bean id="userBean" class="spring.think.ch09.UserBean">
        <property name="name" value="张三"/>
    </bean>
</beans>